body {
    background-color: lightgray;
    width: 100%;
    min-width: 450px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: grid;
    width: 100%;
    height: 125px;
    grid-template-areas: "a b";
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 1;
    background-color: beige;
    top: 0;
    left: 0;
    border-radius: 5px;
}
 
h1 {
    grid-area: a;
    align-self: center;
    position: relative;
    left: 20px;
}

#navItems {
    grid-area: b;
    list-style-type: none;
    display: inline-flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

#navItems a {
    margin-right: 25px;
    text-decoration: none;
    color: black;
}

main {
    text-align: center;
    margin-top: 150px;
    position: relative;
}

#poze img {
    width: 400px;
    transition-duration: 2s;
}

